<!DOCTYPE html>
<meta charset="utf-8">
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Black+Ops+One|Luckiest+Guy|Sonsie+One|Shojumaru&effect=3d|3d-float|anaglyph|brick-sign|canvas-print|
            crackle|decaying|destruction|distressed|distressed-wood|emboss|fire|fire-animation|fragile|grass|ice|mitosis|neon|outline|putting-green|
            scuffed-steel|shadow-multiple|splintered|static|stonewash|vintage|wallpaper' 
            rel='stylesheet' type='text/css'>



<html>
    <head>
        <meta charset="utf-8">
        <link href="/css/style.css" rel="stylesheet" type="text/css" />

    </head>
    <body class="Reviewbackground">

        <span class="font-effect-neon" style="font-size:50px; font-family:Luckiest Guy;">

            <a href= "/review/new/<%=userId%>">Click here to create a new review</a></span> <br> <br>

        <nav>
            <!-- <a href= "/review/new">create a new review</a> -->
        </nav>
        <ul>
            <% for (let i=0; i< review.length; i++){ %>
                <li>
                   <a href="/review/show/<%=review[i].id%>"><%=review[i].name%></a>
                </li>
                <form action= "/review/<%=review[i].id%>?_method=DELETE" method= "POST">
                    <input type="submit" value="Delete"/>
                </form>

                <a href="/review/<%=review[i].id%>/edit">Edit</a> 
               <br><br>  

            <% } %>
        </ul>

        <a href="/users/profile/<%=userId%>?token=<%=token%> ">Back to your profile </a>  
        
    </body>


</html>