<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="/css/style.css" rel="stylesheet" type="text/css" />

    </head>
    <body class="profilebackground">
        <h1>Welcome <%=user.name%></h1>

        <div class="profildetails">
            <form action="/users/profile/<%=user.id%>?token=<%=token%>&_method=PUT" method="POST">
                Name: <input type="text" name="name" value=<%=user.name%> /><br> <br>
                Username: <input type="text" name="username" value=<%=user.username%> /> <br> <br>
                Password: <input type="text" name="password" value=<%=user.password%> /><br> <br>
                <input type="submit" value="Edit Profile" />
            </form>
        </div>

        <br>

        <form action="/users/<%=user.id%>?_method=DELETE&token=<%=token%>" method="POST">
            <input type="submit" value="Delete User" />
        </form>

            <h3>Reviews added by you:</h3>
            <% for (let i=0; i< user.Reviews.length; i++){ %>

                <!-- this code isn't working -->
                <b>Review: </b> <span class="review"><%=user.Reviews[i].name%>, </span>
                <b>Create date: </b> <span class="review"><%=user.Reviews[i].createdAt%> </span>
             <!-- <a href="/review/<%=user.Reviews[i].id%>"><%=user.Reviews[i].name%></a> -->
                <br>
             <% } %>  

        <br><br>

        <a href="/users/logout" class="logoutlink">Signout</a>  
        <br><br>
        <br><br> 
        <a href="/review">View All Reviews</a> 
                
    </body>
</html>